<div class="container">
<h2>Create an Event</h2>
  <form action="/events" method="post" id="created_event">
    <label for="event[name]">Name Your Event:</label>
    <input name="event[name]" type="text"><br>

    <label for="event[location]">Event Location:</label>
    <textarea name="event[location]"></textarea><br>

    <label for="event[starts_at]">Start Time:</label>
    <textarea name="event[starts_at]"></textarea><br>

    <label for="event[ends_at]">Finish Time:</label>
    <textarea name="event[ends_at]"></textarea><br>

    <input type="submit" value="Create Event!">
  </form>
</div>