<div class="container">
  <h1><%= @event.name %></h1>
  <p>To be held at: <%= @event.location %></p>

  <!-- to edit an event -->
  <a href="/events/<%= @event.id %>/edit">Edit Event</a>

  <!-- for deleting an event -->
  <form action="/events/<%= @event.id %>" method="post">

    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete course">
  </form>
</div>